<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>657773074977-grnnoi8bv32n44cp7ofcvktjj2ssjjdq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.657773074977-grnnoi8bv32n44cp7ofcvktjj2ssjjdq</string>
	<key>API_KEY</key>
	<string>AIzaSyCd3U0jZw2UZt19V5zBAa-oI-npiZTyXSY</string>
	<key>GCM_SENDER_ID</key>
	<string>657773074977</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.hotelbookingapp</string>
	<key>PROJECT_ID</key>
	<string>hotelbookingapp-95392</string>
	<key>STORAGE_BUCKET</key>
	<string>hotelbookingapp-95392.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:657773074977:ios:51cb5a0d4654363cf72160</string>
</dict>
</plist>